APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

MIX_ENV_MODE=production

LOG_CHANNEL=stack

DEV_CHROME_EXTENSION_ID=kaeogcgclaiclafeoibaajbmjkfbknhf
CHROME_EXTENSION_ID=bdfmjjdclbpikogcdcfniohphenobffn

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=root
DB_PASSWORD=secret

BROADCAST_DRIVER=pusher
CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_DRIVER=database

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_FROM_NAME="Prooflo"
mail_from_address="info@prooflo.com"

MAIL_DRIVER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=afefede57f60e8
MAIL_PASSWORD=1f2562d1253c9b
MAIL_ENCRYPTION=null

MAILGUN_DOMAIN=mail.prooflo.com
MAILGUN_SECRET=key-416a8c3d028318b4d334528f198b39d4

PUSHER_APP_ID="779850"
PUSHER_APP_KEY="90812a9a78cb3a48b9c7"
PUSHER_APP_SECRET="77401124e4b1eda001da"
PUSHER_APP_CLUSTER="us2"

STRIPE_MODEL=App\User
STRIPE_KEY=pk_test_QblZAc4qD5SD77QpoF7cA2hL
STRIPE_SECRET=sk_test_iXZE30dsMnvvDGNPCJEvFlML
STRIPE_WEBHOOK_SECRET=whsec_EXnyrxCcGNXTeoG1N4TZWTgPIgCJEXrv
STRIPE_WEBHOOK_TOLERANCE=300
CASHIER_ENV=testing

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
MIX_PUSHER_APP_SPACES_PREFIX="${APP_SPACES_PREFIX}"

DO_SPACES_KEY=QJEMTNXS7ENNRAHNP7SF
DO_SPACES_SECRET=IXQk6c8bEysd5aI0ZuZvbSethRQgnwH3Lv5MEEhRQTM
DO_SPACES_ENDPOINT=https://nyc3.digitaloceanspaces.com
DO_SPACES_REGION=nyc3
DO_SPACES_BUCKET=test-prooflo
APP_FILESYSTEM=spaces
APP_SPACES_PREFIX='https://test-prooflo.nyc3.digitaloceanspaces.com'

SLACK_APP_ID=A028QUK4K52
SLACK_ENDPOINT=https://slack.com/api/oauth.v2.access
SLACK_CLIENT=403437707252.2296971155172
SLACK_SECRET=b1d5ec8e81c31b6d7adc2dd35f7f147d

SENTRY_LARAVEL_DSN=https://6f8166e0527b4a6981a430917456acd8@o4504690936381440.ingest.sentry.io/4504690940837888