/node_modules
/public/hot
/public/storage
/public/uploads
/storage/*
!/storage/framework
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
public/js
public/css/spa-modules
public/css/sweetalert.css
public/css/sweetalert2.css