
/*
|--------------------------------------------------------------------------
| Colors
|--------------------------------------------------------------------------
*/

$color-theme: #80B4A0;
//$color-theme: rgb(84, 92, 100);
$color-light-gray: #F7F7F7;
$color-dark: #4B4B4B;

$color-warning: #F2A731;
$color-danger: #EC6E6E;

$icon-projects: #FFF;
$icon-progress: #F2A731;
$icon-revision: #FFEB3B;
$icon-approved: #8BC34A;
$icon-hold: #EF5B5B;

/*
|--------------------------------------------------------------------------
| Sizes
|--------------------------------------------------------------------------
*/

$extra-small:    544px;
$small:          768px;
$medium:         992px;
$large:          1200px;
$extra-large:    1920px;

/*
|--------------------------------------------------------------------------
| Element UI Overrides
|--------------------------------------------------------------------------
*/

$--color-primary: $color-theme;
